<nav class="menu-bottom">
  <!-- HOME -->
  <a a href="#" class="icon-menu" aria-label="Home">
    <i class="bi bi-house-door"></i>
    <span>Dashboard</span>
  </a>

  <!-- TRANSAÇÕES -->
  <button class="icon-menu" aria-label="Transações">
    <i class="bi bi-arrow-left-right"></i>
    <span>Transações</span>
  </button>

  <!-- ADICIONAR (DESTAQUE) -->
  <button class="icon-menu add" aria-label="Adicionar">
    <i class="bi bi-plus-circle"></i>
  </button>

  <!-- RELATÓRIOS -->
  <button class="icon-menu" aria-label="Relatórios">
    <i class="bi bi-graph-up"></i>
    <span>Relatórios</span>
  </button>

  <!-- MAIS -->
  <button class="icon-menu" aria-label="Mais">
    <i class="bi bi-three-dots"></i>
    <span>Mais</span>
  </button>
</nav>
