<div class="conteiner_account">
  <div class="account_header">
    <h1 class="title">Contas e Carteiras Cadastradas</h1>
    <a [routerLink]="['/accounts/add-account']">
      <h1>Adicionar Nova Conta<i class="bi bi-plus-circle"></i></h1>
    </a>
  </div>
  <div class="account_body">
    <table>
      <tr>
        <th>Apelido</th>
        <th>Tipo de Conta</th>
        <th>Saldo Atual</th>
        <th>Espécie</th>
        <th>Ações</th>
      </tr>
      <tr *ngFor="let account of accounts">
        <td>{{ account.AccNom }}</td>
        <td>{{ account.AccTip | capitalize }}</td>
        <td>R{{ account.AccSalAtu | currency }}</td>
        <td>{{ account.AccMoe }}</td>
        <td class="Acoes">
          <button><i class="bi bi-pencil-square"></i></button>
          <button (click)="deleteAccount(account._id)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
