* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e0f7fa;
  background: linear-gradient(
    -210deg,
    rgba(224, 247, 250, 1) 0%,
    rgba(128, 222, 234, 1) 100%
  );
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-top: 25px;

  & button {
    width: 100%;
    font-size: 18px;
    color: #fff;
    background-color: #10b981;
    border: none;
    border-radius: 8px;
    padding: 0.2rem;

    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  & button:hover {
    color: #00340c;
    background: #808080;
  }
}
