<div class="conteiner_account">
  <form [formGroup]="accountForm" (ngSubmit)="submit()">
    <fieldset>
      <legend>Adicione uma nova conta</legend>
      <div class="card">
        <div class="card_left">
          <app-text-input
            [control]="fc['AccNom']"
            [showErrorWhen]="isSubmitted"
            type="text"
            label="Apelido para a Conta:"
          ></app-text-input>
          <div class="selects">
            <label>Selecione o tipo de Conta:</label><br />
            <select formControlName="AccTip" (change)="mostrabanco()">
              <option value="" selected>Selecione o tipo de Conta</option>
              <option value="dinheiro">Dinheiro</option>
              <option value="debito">Debito</option>
              <option value="credito">Credito</option>
              <option value="investimento">Investimento</option>
            </select>
          </div>
          <div class="selects" *ngIf="showBanco">
            <label>Selecione o banco:</label><br />
            <select formControlName="AccBanId">
              <option value="" selected>Selecione o Banco</option>

              <option *ngFor="let bank of Banks" [value]="bank._id">
                {{ bank.BanNom }}
              </option>
            </select>
          </div>
          <app-text-input
            [control]="fc['AccSalIni']"
            [showErrorWhen]="isSubmitted"
            type="number"
            label="Saldo Inicial"
            [currency]="true"
          ></app-text-input>

          <div class="selects">
            <label>Selecione a espécie:</label><br />
            <select formControlName="AccMoe">
              <option value="1" selected>Real</option>
            </select>
          </div>
        </div>

        <!-- card_right -->
        <div class="card_right">
          <!-- Campos de crédito (condicional) -->
          <div *ngIf="fc['AccTip'].value === 'credito'" class="credito_fields">
            <div class="credito_legend">Dados do Cartão de Crédito</div>
            <app-text-input
              [control]="fc['CreLim']"
              [showErrorWhen]="isSubmitted"
              type="number"
              label="Limite de Crédito"
              [currency]="true"
            ></app-text-input>

            <app-text-input
              [control]="fc['CreDiaFech']"
              [showErrorWhen]="isSubmitted"
              type="number"
              label="Dia de Fechamento"
            ></app-text-input>

            <app-text-input
              [control]="fc['CreDiaVenc']"
              [showErrorWhen]="isSubmitted"
              type="number"
              label="Dia de Vencimento"
            ></app-text-input>
          </div>
        </div>
      </div>
      <div class="btns">
        <button type="submit">Entrar</button>
      </div>
    </fieldset>
  </form>
</div>
